#El State del project puede ser DEV | PROD
STATE = 'dev'

#Variables de la base de Datos
DB_PASSWORD = '1234'
DB_NAME = 'udemy_graphql'
DB_USER = 'carlos'
DB_PORT = 5432
DB_HOST = 'localhost'

#Variables de PGADMIN
PGADMIN_DEFAULT_EMAIL = 'carlos@mail.com'
PGADMIN_DEFAULT_PASSWORD = '1234'